.products {
    padding: 30px 50px;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    a{
      text-decoration: none;
      color: #000;
    }
    .left {
      position: sticky;
      height: 100%;
      top: 50px;
      margin-right: 50px;
  
      .filterItem{
        margin-bottom: 30px;
  
        h2{
          font-weight: 400;
          margin-bottom: 20px;
        }
  
        .inputItem{
          margin-bottom: 10px;
          label{
            margin-left: 10px;
          }
        }
      }
    }
    
    .right {
      flex: 3;
      display: flex;
      flex-wrap: wrap;

      .render{
        margin: 20px;
      }
  
      .catImg{
        width: 300px;
        height: 150px;
        margin-bottom: 10px;
        object-fit: fill;
        padding-right: 50px;
      }
    }
  }